body {
}
.alldiv
{
    width:760px;
    text-align:center;
    border:#00ff00 1px solid;
}
#top
{
    width:100%;
    height:56px;
    line-height:56px;
    font-family:黑体;
    font-size:xx-large;
}
#navigation
{
    width:100%;
    height:24px;
    line-height:24px;
}
#left
{
    width:100px;
    height:545px;
    line-height:545px;
    float:left;
}
#middle
{
    width:554px;
    height:545px;
    line-height:545px;
    float:left;
}
#right
{
    width:100px;
    height:545px;
    line-height:545px;
    float:left;
    clear:right;
}
#bottom
{
    width:100%;
    height:24px;
    line-height:24px;
    font-family:@黑体;
    clear:both;
}
.ddlcenter
{
    text-align:center;
    height:20px;
    line-height:20px;
}
.style1
{
    text-align:center;
}
    
    